<script>
  function applySystemTheme() {
    const prefersDark = window.matchMedia("(prefers-color-scheme: dark)",).matches;
    document.documentElement.setAttribute("data-theme", prefersDark ? "dark" : "light",);
  }
  applySystemTheme();
  window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", applySystemTheme);

  function toggleMenu() {
    const btn = document.getElementById("toggle-menu");
    const menu = document.getElementById("menu");

    if (!btn || !menu) return;

    btn.addEventListener("click", (event) => {
        event.stopPropagation();
        menu.classList.toggle("menu--is-open");
        btn.setAttribute("aria-expanded", isOpen);
      });

    document.addEventListener("click", (event) => {
      const isClickInside = menu.contains(event.target) || btn.contains(event.target);

      if (!isClickInside && menu.classList.contains("menu--is-open")) {
        menu.classList.remove("menu--is-open");
        btn.setAttribute("aria-expanded", "false");
      }
    });
  }

  document.addEventListener("DOMContentLoaded", ()=>{
    toggleMenu()
  });
</script>
