{{/* |===========| START: SW JS |===========| */}}
<script defer>
  if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('{{ "sw.js" | relURL }}', { scope: '{{ .Site.BaseURL | relURL | strings.TrimSuffix "/" }}/' }).then(reg => {
              console.log('Service worker registered with scope: ', reg.scope);
          }).catch(err => {
              console.log('Service worker registration failed: ', err);
          });
      });
  }
</script>
{{/* |===========| END: SW JS |===========| */}}

{{/* |===========| START: MATHJAX |===========| */}}
{{ if .Params.mathjax }}
  <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" defer></script>
  <style>
    mjx-container.MathJax {
      padding: 1rem;
      overflow-x: auto;
      white-space: nowrap;
      max-width: 100%;
    }
  </style>
  <script defer>
    window.MathJax = {
      tex: {
        inlineMath: [['\\(', '\\)']],
        displayMath: [['\\[', '\\]'], ['$$', '$$']],
      },
      svg: {
        fontCache: 'global'
      },
      options: {
        skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      }
    };
  </script>
{{ end }}
{{/* |===========| END: MATHJAX |===========| */}}

<script>
// SWITCH THEMES
const html = document.documentElement;
const toggleBtn = document.getElementById("toggleThemes");
const emojiSpan = toggleBtn.querySelector(".emoji");

const setTheme = (theme) => {
	html.setAttribute("data-theme", theme);
	emojiSpan.textContent = theme === "dark" ? "🌙" : "☀️";
};

const getSystemTheme = () => {
	return window.matchMedia("(prefers-color-scheme: dark)").matches
		? "dark"
		: "light";
};

const initTheme = () => {
	const savedTheme = sessionStorage.getItem("theme");

	if (savedTheme) {
		// Gunakan tema tersimpan
		html.setAttribute("data-theme-system", "manual");
		setTheme(savedTheme);
	} else {
		// Deteksi sistem
		const systemTheme = getSystemTheme();
		html.setAttribute("data-theme-system", "auto");
		setTheme(systemTheme);
	}
};

toggleBtn.addEventListener("click", () => {
	const currentTheme = html.getAttribute("data-theme");
	const newTheme = currentTheme === "dark" ? "light" : "dark";

	// Set tema dan tandai manual
	html.setAttribute("data-theme-system", "manual");
	setTheme(newTheme);
	sessionStorage.setItem("theme", newTheme);
});

// Inisialisasi saat load
initTheme();
</script>
{{ template "_internal/google_analytics.html" . }}