@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@theme {
  --text-sm: 0.88rem;
  --text-tiny: 0.94rem;
  --text-base: 1rem;
  --text-lg: 1.07rem;
  --text-xl: 1.14rem;
  --text-2xl: 1.21rem;
  --text-3xl: 1.3rem;
  --text-4xl: 1.38rem;
  --text-5xl: 1.48rem;
  --text-6xl: 1.57rem;
  --text-7xl: 1.68rem;
}

@layer base {
  .markdown {
    @apply prose prose-invert prose-neutral prose-headings:border-b prose-headings:border-b-neutral-700 prose-headings:pb-2 prose-headings:pt-4 prose-headings:scroll-mt-24 prose-h1:text-5xl prose-h2:text-4xl prose-h3:text-3xl prose-h4:text-2xl prose-h5:text-xl prose-h6:text-lg prose-headings:font-normal prose-a:text-sky-400 prose-a:hover:text-sky-500 prose-a:visited:text-sky-600 prose-pre:overflow-x-auto font-noto prose-pre:font-fira prose-code:font-fira prose-code:before:content-none prose-code:after:content-none max-w-full text-[14px] leading-relaxed;
  }
}
