<script>
  (async () => {
    function applyTheme(e) {
      if (e.matches) {
        document.documentElement.dataset.theme = "dark";
      } else {
        document.documentElement.dataset.theme = "light";
      }
    }

    if (window.matchMedia) {
      const darkScheme = window.matchMedia("(prefers-color-scheme: dark)");
      applyTheme(darkScheme);
      darkScheme.addEventListener("change", applyTheme);
    } else {
      document.documentElement.dataset.theme = "light";
    }
  })();
</script>