{{/* partial dipanggil dengan: 
  {{ partial "components/card-by-category.html" (dict "param" "tags" "type" "Sticky Note" "Site" .Site) }} 
*/}}

{{ $param := .param }}
{{ $type := .type }}
{{ $site := .Site }}

{{ range $site.RegularPages }}
  {{ $types := index .Params $param }}
  {{ if $types }}
    {{ if in $types $type }}
      <div class="masonry__item card">
        <a href="{{ .RelPermalink }}" aria-label="{{ .Title }}">
          <strong class="card__title">
            {{ .Title }}
          </strong>
          <div class="markdown card__body">
            {{ .Content | safeHTML }}
          </div>
        </a>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
