{{/* 
Cara Panggil: {{ partial "components/collections.html" (dict "targetSection" "knowledge" "Site" .Site) }}
*/}}

{{ define "collections" }}
  {{ $title := .Title }}
  {{ $emoji := .Params.emoji }}
  <a href="{{ .RelPermalink }}" class="collection__item" aria-label="{{ $title }}" title="{{ $title }}">
    {{ with .Params.image }}
      <picture class="collection__cover">
        <img src="{{ . }}" alt="Cover of {{ $title }}" class="collection__image">
      </picture>
    {{ else }}
      <div class="collection__cover">
        <div class="collection__image collection__image--emoji">
          <span class="emoji">{{ with $emoji }}{{ . }}{{ else }}📗{{ end }}📖</span>
          <span class="text">{{ $title }}</span>
        </div>
      </div>
    {{ end }}
  </a>
{{ end }}

{{ $targetSection := .targetSection }}
{{ $site := .Site }}

{{ range $site.Sections }}
  {{ if eq .Section $targetSection }}
    {{ if gt (len .Sections) 0 }}
      {{ range .Sections }}
        {{ template "collections" . }}
      {{ end }}
    {{ else }}
      {{ range .Pages }}
        {{ template "collections" . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}