<div class="featured">
  {{- range site.RegularPages }}
    {{- $title := .Title }}
    {{- $relPermalink := .RelPermalink }}
    <article class="featured__item">
      {{- with index .Params.images 0 }}
        <figure class="thumbnail" onclick="window.location.href=`{{ $relPermalink }}`" style="aspect-ratio: 21/8; overflow: hidden;">
          <img src="{{ . | safeURL }}" alt="Image In {{ $title }}" class="thumbnail__image" style="object-fit: cover; width: 100%;"/>
        </figure>
      {{- end }}
      <h2 class="featured__title">{{ $title }}</h2>
      {{- partial "components/meta-posts.html" . }}
      {{ .Summary }}
      <a href="{{ $relPermalink }}" class="featured__btn btn">READ MORE<span class="sr-only">For {{ $title }}</span></a>
    </article>
  {{- end }}
</div>
