{{ $img := index .Params.images 0 }}
{{ $title := .Title }}
{{- $category := index (.Page.GetTerms "categories") 0 }}
{{- $tag := index (.Page.GetTerms "tags") 0 }}

{{- $date := .Date | time.Format ":date_medium" }}
{{- $iso := .Date | time.Format "2006-01-02T15:04:05-07:00" }}


<header class="not-prose grid gap-4">
  {{ partial "components/Breadcrumb" . }}
  <h1 class="text-4xl font-bold text-shadow-sm/100">{{ $title }}</h1>
  {{ with .Description }}
    <p class="text-sm text-neutral-400">{{ . }}</p>
  {{ end }}
  <div class="flex flex-wrap items-center gap-4 text-xs">
    <span>{{ site.Params.Author.name }}</span>
    <span>|</span>
    <time datetime="{{ $iso }}">{{ $date }}</time>
    <span>|</span>
    <span>{{ .ReadingTime }} Menit</span>
    {{ with or $category $tag }}
      <span>|</span>
      <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    {{ end }}
  </div>
  {{ with $img }}
    <figure class="overflow-hidden rounded-md shadow-sm/100">
      {{ partial "images/Image" (dict
        "src" .
        "alt" $title
        "sizes" (slice
        "480x270"
        "720x405"
        "1280x720"
        "1920x1080"
        )
        )
        }}
    </figure>
  {{ end }}
</header>
