{{- $formatMachine := "2006-01-02T15:04:05-07:00" }}
{{- $formatHuman := "02 / Jan / 2006" }}

<div class="meta">
  {{- /* 📅 Tanggal publish */}}
  {{- if .Date }}
    <div class="meta__group">
      {{- partial "components/icon.html" (dict "name" "calendar" "size" 16 "class" "meta__icon") }}
      <div class="meta__list">
        <time datetime="{{ .Date | time.Format $formatMachine }}" class="meta__item">
          {{ .Date | time.Format $formatHuman }}
        </time>
      </div>
    </div>
  {{- end }}

  {{- /* ⏰ Tanggal terakhir diupdate */}}
  {{- if .Lastmod }}
    <div class="meta__group">
      {{- partial "components/icon.html" (dict "name" "clock-history" "size" 16 "class" "meta__icon") }}
      <div class="meta__list">
        <time datetime="{{ .Lastmod | time.Format $formatMachine }}" class="meta__item">
          {{ .Lastmod | time.Format $formatHuman }}
        </time>
      </div>
    </div>
  {{- end }}

  {{- /* 🏷️ Tags */}}
  {{- with .GetTerms "tags" }}
    {{- if gt (len .) 0 }}
      <div class="meta__group">
        {{- partial "components/icon.html" (dict "name" "tags" "size" 16 "class" "meta__icon") }}
        <div class="meta__list">
          {{- range . }}
            {{- $title := replaceRE "[-_]+" " " .LinkTitle | upper }}
            <a href="{{ .RelPermalink }}" class="meta__item meta__item--link">{{ $title }}</a>
          {{- end }}
        </div>
      </div>
    {{- end }}
  {{- end }}

  {{- /* 📂 Categories */}}
  {{- with .GetTerms "categories" }}
    {{- if gt (len .) 0 }}
      <div class="meta__group">
        {{- partial "components/icon.html" (dict "name" "grid" "size" 16 "class" "meta__icon") }}
        <div class="meta__list">
          {{- range . }}
            {{- $title := replaceRE "[-_]+" " " .LinkTitle | upper }}
            <a href="{{ .RelPermalink }}" class="meta__item meta__item--link">{{ $title }}</a>
          {{- end }}
        </div>
      </div>
    {{- end }}
  {{- end }}

</div>
