{{- $page := . }}
{{- range site.Menus.main }}
  {{- $isCurrent := $page.IsMenuCurrent "main" . }}
  {{- $hasCurrent := $page.HasMenuCurrent "main" . }}

  {{- $class := "" }}
  {{- if $isCurrent }}
    {{- $class = "text-amber-400" }}
  {{- else if $hasCurrent }}
    {{- $class = "text-amber-500" }}
  {{- end }}

  <a
    href="{{ .URL }}"
    class="{{- $class }} hover:text-amber-500"
    {{- if $isCurrent }}
      aria-current="page"
    {{- else if $hasCurrent }}
      aria-current="true"
    {{- end }}
  >
    {{- .Name }}
  </a>
{{- end }}
