{{/* partial dipanggil dengan:
  {{ partial "components/notes.html" (dict "sections" (slice "garden" "notes") "Site" .Site) }}
*/}}

{{ $sections := .sections }}
{{ $site := .Site }}

{{ range $page := $site.RegularPages | first 100 }}
  {{ if in $sections $page.Section }}

    {{ $description := .Params.description | safeHTML }}
    {{ $content := .Summary | strings.Truncate 180 | safeHTML }}

    {{ $keyStatus := $page.Params.status | default "note" }}

    {{ $iconStatus := "🗒️" }}
    {{ if eq $keyStatus "tip" }}        {{ $iconStatus = "💡" }}
      {{ else if eq $keyStatus "info" }}  {{ $iconStatus = "ℹ️" }}
      {{ else if eq $keyStatus "success" }}{{ $iconStatus = "✅" }}
      {{ else if eq $keyStatus "warning" }}{{ $iconStatus = "⚠️" }}
      {{ else if eq $keyStatus "danger" }}{{ $iconStatus = "❌" }}
      {{ else if eq $keyStatus "note" }}  {{ $iconStatus = "📝" }}
      {{ else if eq $keyStatus "abstract" }}{{ $iconStatus = "🧠" }}
      {{ else if eq $keyStatus "todo" }}  {{ $iconStatus = "☑️" }}
      {{ else if eq $keyStatus "question" }}{{ $iconStatus = "❓" }}
      {{ else if eq $keyStatus "important" }}{{ $iconStatus = "‼️" }}
    {{ end }}

    <div class="card">
      <div class="card__header">
        {{ with $page.Params.image }}
          <img src="{{ . | absURL }}" alt="{{ $page.Title }}" loading="lazy" class="card__image">
        {{ end }}
        <h3 class="card__title"><span class="emoji">{{ $iconStatus }}</span><span>{{ $page.Title | title }}</span></h3>
      </div>

      <div class="card__body">
        {{ with $description }}
          <p>{{ . }}</p>
        {{ else }}
          {{ $content }}
        {{ end }}
      </div>

      <div class="card__footer">
        <strong>
          {{ with index $page.Params.tags 0 }}{{ . | title }}: {{ end }}{{ partial "components/timeago.html" $page }}
        </strong>
        <a href="{{ .RelPermalink }}" class="card__button" aria-label="{{ $page.Title }}" title="{{ $page.Title }}">Read More</a>
      </div>
    </div>
  {{ end }}
{{ end }}