{{ if or .Prev .Next }}
<hr>  
<nav class="not-prose grid gap-4 md:grid-cols-2">
  {{ $baseClass := "grid gap-2 px-6 py-2 rounded-sm shadow-sm/50"}}
  {{ $labelClass := "text-sm" }}
  {{ $titleClass := "text-2xl font-semibold text-white" }}

  {{ with .Prev }}
    <a class="{{ $baseClass }} md:col-start-1" href="{{ .RelPermalink }}">
      <span class="{{ $labelClass }}">Sebelumnya</span>
      <span class="{{ $titleClass }}">{{ .Title }}</span>
    </a>
  {{ end }}

  {{ with .Next }}
    <a class="{{ $baseClass }} md:col-start-2" href="{{ .RelPermalink }}">
      <span class="{{ $labelClass }}">Berikutnya</span>
      <span class="{{ $titleClass }}">{{ .Title }}</span>
    </a>
  {{ end }}
</nav>
<hr>
{{ end }}