{{ range .Paginator.Pages.ByDate.Reverse }}
  {{ $img := index .Params.images 0 }}
  {{ $title := .Title }}
  <article class="mx-auto -mt-px max-w-3xl border-y border-neutral-700 py-16">
    <a
      href="{{ .RelPermalink }}"
      class="{{ if $img }}
        md:grid md:grid-cols-[240px_minmax(0,1fr)] gap-8
      {{ end }} grid cursor-default gap-4"
    >
      {{ with $img }}
        <figure class="overflow-hidden rounded-md shadow-md/100 max-md:hidden">
          {{ partial "images/Image" (dict "src" . "alt" $title "sizes" (slice "240x240")) }}
        </figure>
      {{ end }}
      <div class="flex flex-col justify-around gap-4">
        <time
          datetime="{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}"
          class="text-sm font-medium text-neutral-400"
        >
          {{ .Date | time.Format ":date_long" }}
        </time>
        <h2
          class="cursor-pointer text-2xl font-semibold text-white text-shadow-sm/100"
        >
          {{ $title }}
        </h2>
        <p class="line-clamp-3 text-sm text-neutral-400">
          {{ or .Description .Summary | plainify | htmlUnescape | truncate 500 }}
        </p>
        <button class="cursor-pointer text-start font-medium text-amber-400 text-shadow-sm/100 hover:text-amber-500">
          Lihat Selengkapnya
        </button>
      </div>
    </a>
  </article>
{{ end }}
{{ partial "components/Pagination" . }}
