{{ $defaultImage := site.Params.heroImage }}
<article class="grid gap-4">
  <div
    class="aspect-video overflow-hidden rounded-xs border-8 border-zinc-700 shadow-sm dark:shadow-sm/100"
  >
    {{ partial "assets/image" (dict
      "src" (.Params.heroImage | default $defaultImage)
      "alt" .Title
      "class" "size-full object-cover object-center"
      )
    }}
  </div>
  <div class="space-y-4">
    <h3
      class="line-clamp-1 text-xl font-medium text-black xl:text-3xl dark:text-white"
    >
      {{ .Title }}
    </h3>
    <p class="line-clamp-4 text-sm xl:text-base">
      {{ .Summary | plainify | truncate 500 }}
    </p>
    <nav class="flex items-center gap-4">
      <a
        href="{{ .Permalink }}"
        class="rounded-sm border border-zinc-300 px-6 py-3 font-medium text-black shadow-xs hover:bg-zinc-500/10 dark:border-zinc-700 dark:text-white dark:shadow-xs/100"
      >
        <span>Read More</span>
        <span class="sr-only">{{ .Title }}</span>
      </a>
    </nav>
  </div>
</article>
