{{- $url := .Permalink | absLangURL }}
{{- $summary := .Summary | plainify | truncate 200 }}
{{- $textBody := printf "%s\n\n%s\n\n%s\n" .Title $summary $url }}

{{- $platforms := dict
  "facebook"  (dict
  "href" (printf "https://www.facebook.com/sharer.php?u=%s&t=%s" $url .Title)
  "icon" "facebook"
  )
  "twitter"   (dict
  "href" (printf "https://twitter.com/intent/tweet?text=%s&url=%s" .Title $url)
  "icon" "twitter-x"
  )
  "linkedin"  (dict
  "href" (printf "https://www.linkedin.com/shareArticle?mini=true&url=%s&title=%s&summary=%s" $url .Title $summary)
  "icon" "linkedin"
  )
  "whatsapp"  (dict
  "href" (printf "https://wa.me/?text=%s" ($textBody | urlquery))
  "icon" "whatsapp"
  )
  "telegram"  (dict
  "href" (printf "https://t.me/share/url?url=%s&text=%s" $url .Title)
  "icon" "telegram"
  )
  "reddit"    (dict
  "href" (printf "https://www.reddit.com/submit?url=%s&title=%s" $url .Title)
  "icon" "reddit"
  )
  "pinterest" (dict
  "href" (printf "https://pinterest.com/pin/create/button/?url=%s&description=%s" $url .Title)
  "icon" "pinterest"
  )
  "line"      (dict
  "href" (printf "https://social-plugins.line.me/lineit/share?url=%s" $url)
  "icon" "line"
  )
  "mastodon"  (dict
  "href" (printf "https://mastodon.social/share?text=%s%%20%s" .Title $url)
  "icon" "mastodon"
  )
  "mail"      (dict
  "href" (printf "mailto:?subject=%s&body=%s" .Title $textBody)
  "icon" "envelope"
  )
  }}
<nav
  class="mx-auto my-16 grid w-full max-w-3xl gap-8 rounded-sm px-4 py-12 text-center text-black shadow-sm/100 dark:text-white"
>
  <h2 class="text-2xl font-semibold">Bagikan</h2>
  <div class="flex flex-wrap items-center justify-center gap-4">
    {{ range $name, $meta := $platforms }}
      {{ if index site.Params.shareButtons $name }}
        <a href="{{ $meta.href }}" target="_blank" rel="noopener noreferrer">
          <span class="sr-only">Bagikan Di {{ $name | title }}</span>
          {{ partial "assets/icon" (dict "name" $meta.icon "size" 32 "class" "hover:text-amber-500") }}
        </a>
      {{ end }}
    {{ end }}
  </div>
</nav>
