{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

<nav>
  {{- with $page.GetTerms $taxonomy }}
    {{- $label := (index . 0).Parent.LinkTitle }}
    <strong>{{ $label }}:</strong>
    {{- $lastIndex := sub (len .) 1 }}
    {{- range $i, $term := . }}
      <a href="{{ $term.RelPermalink }}">{{ $term.LinkTitle | title }}</a>{{ if lt $i $lastIndex }} <span class="emoji">•</span>{{ end }}
    {{- end }}
  {{- end }}
</nav>
