<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
  {{ $now := now }}
  {{ $then := .Date }}
  {{ $diff := sub $now.Unix $then.Unix }}

  {{ if lt $diff 3600 }}
    Publish: {{ div $diff 60 }} Minutes ago
  {{ else if lt $diff 86400 }}
    Publish: {{ div $diff 3600 }} Hours ago
  {{ else if lt $diff 2592000 }}
    Publish: {{ div $diff 86400 }} Days ago
  {{ else if lt $diff 31536000 }}
    Publish: {{ div $diff 2592000 }} Months ago
  {{ else }}
    Publish: {{ div $diff 31536000 }} Years ago
  {{ end }}
</time>