@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.card {
  border-radius: 12px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  box-shadow: var(--shadow-md);
  transition: transform 0.2s, box-shadow 0.2s;
  display: block;

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-lg);
  }

  &__image {
    width: 100%;
    border-radius: inherit;
    height: auto;
    margin-bottom: 0.75rem;
    box-shadow: var(--shadow-sm);
  }

  &__body {
    font-size: v.$font__size--xs;
  }

  &__title {
    font-size: v.$font__size--xl;
    font-family: v.$font__family--serif;
    font-weight: 600;
    border-bottom: 1px solid var(--cl-border-default);
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__footer {
    @include m.flex-between;
  }
}