@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;

.c-card {
  box-shadow: var(--shadow-soft);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  background-color: var(--bg-alt);
  overflow: hidden;
  display: grid;
  justify-content: space-between;

  &__img-wrapper {
    aspect-ratio: 16/9;
    overflow: hidden;
  }

  &__title {
    margin: 1rem 0.5rem;
    padding-inline: 1rem;
    border: none;
  }

  &__body,
  &__footer {
    padding: 1rem;
  }

  &__summary {
    font-size: var(--fs-sm);
    color: var(--text-muted);
    margin-block: 0;
  }

  &__footer {
    @include m.flex-justify(space-between, center);
  }
}
