@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.sr-only {
  @include m.visually-hidden();
}

.grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));

  &--fluid-lg {
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  }
}

.multi-column {
  column-width: 20em;
  column-gap: 1em;

  &--fluid-lg {
    column-width: 30em;
  }

  &__item {
    display: inline-block;
    width: 100%;
    margin-block: 0em 2em;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
  }
}

button {
  cursor: pointer;
}
