@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5em;
  margin-block-end: 1em;

  &__item {
    background-color: var(--bg-second);
    border-radius: 0.25em;
    box-shadow: var(--shadow-sm);
  }
}

.container {
  @include b.container(fluid);

  @include b.min(sm){
    @include b.container(sm);
  }
  @include b.min(md){
    @include b.container(md);
  }
  @include b.min(lg){
    @include b.container(lg);
  }
  @include b.min(xl){
    @include b.container(xl);
  }
  @include b.min(2xl){
    @include b.container(2xl);
  }
}

#linkpreview {
  scrollbar-width: none;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  max-height: 60ch;
  overflow: auto;
  z-index: 999999999;
  border: 1px solid var(--border-base);
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: var(--bg-base);
  box-shadow: var(--shadow-lg);

  .h.h--1 {
    margin-block-start: 0;
  }

  .markdown {
    min-height: 0;
    border: none;
    box-shadow: none;
  }
}
