@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

html {
  @include m.custom-scrollbar(var(--bg-base), var(--text-link));
  color: var(--text-base);
  font-family: v.$font-body;
  font-size: v.$fs-default;
  background-color: var(--bg-base);
}

.header {
  text-align: center;
  margin-bottom: 1em;
  cursor: pointer;

  &__title {
    margin: 0;
  }

  &__tagline {
    font-size: v.$fs-3xs;
    font-style: normal;
  }
}

.search-bar {
  @include m.flex-justify(center, center);
  gap: 0.5em;
  padding: 0.25em 1em;
  background-color: var(--bg-second);
  border: 1px solid var(--border-base);
  border-radius: 0.25em;
  width: fit-content;
  margin: 0 auto;

  &__input {
    outline: none;
  }
}

.markdown, .results {
  font-size: 14px;

  @include b.min(lg) {
    font-size: 15px;
  }

  @include b.min(xl) {
    max-width: 70ch;
    margin: 0 auto;
  }

  @include b.min(2xl) {
    font-size: 16px;
  }
}

.footer {
  text-align: center;
  font-size: 14px;
  border-top: 1px solid var(--border-base);
  padding-block: 1em;
  margin-top: 6em;
  p {
    margin: 0;
  }
}
