:root {
  --cl-fix-black: #000000;
  --cl-fix-white: #ffffff;
  --bg-second: #1f2937;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-base: #030712;
    --bg-third: #0a0f18;

    --accent-base: #a855f7;
    --accent-second: #9333ea;
    --accent-third: #7e22ce;

    --text-title: #f9fafb;
    --text-base: #e5e7eb;
    --text-muted: #d1d5db;

    --border-base: #374151;
    --border-second: #4b5563;

    /* SYNTAX HIGHLIGHT TOKEN DARK */
    --bg: var(--bg-third);
    --fg: #e6edf3;
    --err: #f85149;
    --hl: #6e7681;
    --ln: #6e7681;
    --lnt: #737679;
    --k: #ff7b72;
    --kc: #79c0ff;
    --nc: #f0883e;
    --no: #79c0ff;
    --nd: #d2a8ff;
    --ni: #ffa657;
    --ne: #f0883e;
    --nl: #79c0ff;
    --nn: #ff7b72;
    --py: #79c0ff;
    --nt: #7ee787;
    --nv: #79c0ff;
    --nf: #d2a8ff;
    --l: #a5d6ff;
    --s: #a5d6ff;
    --sa: #79c0ff;
    --o: #ff7b72;
    --c: #8b949e;
    --gd-bg: #490202;
    --gd: #ffa198;
    --gi-bg: #0f5323;
    --gi: #56d364;
    --go: #8b949e;
    --w: #6e7681;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-base: #f9fafb;
    --bg-third: #f5f9ff;

    --accent-base: #9333ea;
    --accent-second: #7e22ce;
    --accent-third: #6b21a8;

    --text-title: #030712;
    --text-base: #1f2937;
    --text-muted: #374151;

    --border-base: #d1d5db;
    --border-second: #9ca3af;

    /* SYNTAX HIGHLIGHT TOKEN LIGHT */
    --bg: var(--bg-third);
    --fg: #1f2328;
    --err: #82071e;
    --err-fg: #f6f8fa;
    --hl: #e5e5e5;
    --ln: #7f7f7f;
    --lnt: #7f7f7f;
    --k: #cf222e;
    --kc: #cf222e;
    --nc: #1f2328;
    --no: #0550ae;
    --nd: #0550ae;
    --ni: #6639ba;
    --nl: #900;
    --nn: #24292e;
    --nx: #1f2328;
    --nt: #0550ae;
    --nb: #6639ba;
    --bp: #6a737d;
    --nv: #953800;
    --nf: #6639ba;
    --l: #0a3069;
    --sa: #0a3069;
    --o: #0550ae;
    --c: #57606a;
    --gd-bg: #ffebe9;
    --gd: #82071e;
    --gi-bg: #dafbe1;
    --gi: #116329;
    --go: #1f2328;
    --w: #fff;
  }
}
