$dark: (
  bg-body: #0c0a09,
  bg-second: #1c1917,
  bg-third: #292524,
  bg-overlay: rgba(0,0,0,0.7),

  cl-text-default: #d6d3d1,
  cl-text-title: #e7e5e4,
  cl-text-muted: #a8a29e,

  cl-accent: #fcd34d,
  cl-accent-hover: #fbbf24,

  cl-border: #57534e,

  text-shadow-sm:  "0.5px 0.5px 1px rgba(0, 0, 0, 0.25)",
  text-shadow-md:  "1px 1px 2px rgba(0, 0, 0, 0.35)",
  text-shadow-lg:  "1.5px 1.5px 3px rgba(0, 0, 0, 0.45)",

  shadow-sm:       "0 1px 2px rgba(0, 0, 0, 0.25)",
  shadow-md:       "0 3px 6px rgba(0, 0, 0, 0.35)",
  shadow-lg:       "0 8px 16px rgba(0, 0, 0, 0.5)",
);