---
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout>
  <h1>Error 404: Page Not Found</h1>
  <p>Ups... Halaman tidak ditemukan</p>
  <a href="/"> Kembali Ke Beranda</a>
</BaseLayout>
