---
import Button from '@components/Button.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout seo={{ title: 'Error 404: Page Not Found', description: '' }}>
  <h1>Error 404: Page Not Found</h1>
  <p>Ups... Halaman tidak ditemukan</p>
  <nav>
    <Button href="/"> Kembali Ke Beranda </Button>
  </nav>
</BaseLayout>
