---
import BaseLayout from '../layouts/BaseLayout.astro'
const meta = {
	title: '404',
	description: 'Missing Page'
}
---

<BaseLayout meta={meta}>
	<main class="typography">
    <h1>Error 404</h1>
    <p>Ups... Halaman hilang ditelan zaman, Kembali ke <a href="/">Beranda</a></p>
  </main>
</BaseLayout>
