---
import LinkButton from "@components/LinkButton.astro"
import Document from "@layouts/Document.astro"
---

<Document
  seo={{
    title: "Error 404: Page Not Found",
    description: "Halaman tidak ditemukan",
    pubDate: new Date(),
  }}
>
  <h1>Error 404: Page Not Found</h1>
  <p>Ups... Halaman tidak ditemukan</p>
  <nav>
    <LinkButton href="/" name="Kembali Ke Beranda" />
  </nav>
</Document>
