---
import { Image } from 'astro:assets'
import BaseLayout from '../layouts/BaseLayout.astro'

const imageFiles = import.meta.glob('../content/Notes/Images/*', { eager: true })
const image = Object.values(imageFiles);
const meta = {
	title: 'Gallery',
	description: 'Kumpulan gambar'
}
---

<BaseLayout meta={meta}>
	<main class="mx-auto mb-5 w-full columns-1 gap-3 px-4 sm:columns-2 lg:columns-3">
		{
			image.map((img:any) => (
				<Image src={img.default} width="600" alt="Photo of a pizza" class="mb-3 w-full rounded" />
			))
		}
	</main>
</BaseLayout>
