---
import { getCollection } from 'astro:content'
import { SITE } from '../consts'
import Layout from '../layouts/Layout.astro'
import { findPageBySection } from '../utils/find-page-by-section'
import { absURL } from '../utils/url'
import type { CollectionEntry } from 'astro:content'
import { getEntry } from 'astro:content'
import { render } from 'astro:content'

const home = (await getEntry('section', '/')) as CollectionEntry<'section'>
const { data } = home
const { Content } = await render(home)

const entries = await getCollection('page')

const blog = findPageBySection('blog', entries)
const notes = findPageBySection('notes', entries)
const posts = [...blog, ...notes]
---

<Layout title={SITE.title} description={data.description} image={absURL('og-image/default.png')}>
  <h1>{data.title}</h1>
  <Content />
</Layout>
