---
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout>
  <h1>Hello World</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam natus debitis quam hic nemo
    a fugit ad suscipit officiis repudiandae amet similique velit labore, porro beatae, quaerat
    architecto autem ea.
  </p>
</BaseLayout>
