---
import { getContents, getPages } from '@utils/content';
import { getEntry, render, type CollectionEntry } from 'astro:content';
import { SITE } from '@config';
import { absURL } from '@utils/resolve-url';

import FeaturedPosts from '@components/FeaturedPosts.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

const index = (await getEntry('content', 'index')) as CollectionEntry<'content'>;
const { Content } = await render(index);
const { title, description, pubDate, updatedDate, tags, categories } = index.data;

const entries = await getContents();
const pinnedPosts = getPages(entries)
  .filter(({ data }) => data.pinned)
  .slice(0, 5);
---

<BaseLayout
  seo={{
    title,
    description,
    pubDate,
    updatedDate,
    keywords: tags || categories || SITE.keywords,
    ogImage: {
      url: absURL('og-images/default.png'),
      width: '1200px',
      height: '630px',
    },
  }}
>
  <section>
    <article>
      <h1>{title}</h1>
      <Content />
    </article>
  </section>
  <section>
    <article>
      <FeaturedPosts title="Konten Yang Disematkan" posts={pinnedPosts} />
    </article>
  </section>
</BaseLayout>
