---
import Prose from '../components/Prose.astro'
import { SITE } from '../consts'
import Layout from '../layouts/Layout.astro'
import { absURL } from '../utils/url'
import type { CollectionEntry } from 'astro:content'
import { getEntry } from 'astro:content'
import { render } from 'astro:content'

const home = (await getEntry('section', '/')) as CollectionEntry<'section'>
const { data } = home
const { Content } = await render(home)
---

<Layout title={SITE.title} description={data.description} image={absURL('og-image/default.png')}>
  <Prose>
    <h1>{data.title}</h1>
    <Content />
  </Prose>
</Layout>
