---
import Search from 'astro-pagefind/components/Search'
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'
import Layout from '../layouts/Layout.astro'
import { absURL, relURL } from '../utils/url'

const posts = await getCollection('page')
const tags = [
  ...new Set(
    posts
      .filter((p) => p.data.tags)
      .map((p) => p.data.tags)
      .flat()
  )
]

const tagURL = import.meta.env.BASE_URL + 'tag'
---

<Layout title={'Search'} description={'Halaman Pencarian'} image={absURL('og-image/default.png')}>
  <h1 class="text-center">Search</h1>
  <Search id="search" />
  <div class="mt-8">
    <h2 class="text-center">Tags</h2>
    <nav class="not-prose">
      <ul class="flex flex-wrap items-center justify-center">
        {
          tags.map((t) => (
            <li>
              <a
                href={relURL(`${tagURL}/${t}`)}
                class="flex items-center gap-2 rounded-full px-4 py-2 text-sm hover:text-amber-600"
              >
                <Icon name="bi:tag" />
                <span>{t}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</Layout>

<style is:global>
  .pagefind-ui {
    --pagefind-ui-scale: 0.75;
    --pagefind-ui-primary: black;
    --pagefind-ui-text: black;
    --pagefind-ui-border: #e5e5e5;
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0.25rem;
    --pagefind-ui-font: sans-serif;

    width: 50%;
  }

  html[data-theme='dark'] .pagefind-ui {
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #eeeeee;
    --pagefind-ui-background: #171717;
    --pagefind-ui-border: #262626;
    --pagefind-ui-tag: #404040;
  }

  .pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
    position: relative;
    left: 0;
    right: 0;
    margin-top: 0px;
    z-index: 0;
    padding: 0 2em 1em;
    overflow-y: auto;
    box-shadow:
      0 10px 10px -5px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: var(--pagefind-ui-border-radius);
    border-bottom-left-radius: var(--pagefind-ui-border-radius);
    background-color: var(--pagefind-ui-background);
  }

  .pagefind-ui .pagefind-ui__result-link {
    color: var(--pagefind-ui-primary);
  }

  .pagefind-ui .pagefind-ui__result-excerpt {
    color: var(--pagefind-ui-text);
  }
</style>
