---
import Search from 'astro-pagefind/components/Search'
import Base from '../layouts/Base.astro'
import Prose from '../components/Prose.astro'
---

<Base title="Pencarian" description="Search page and contents">
  <Prose>
    <h1 class="border-b border-neutral-200 pb-8 text-center dark:border-neutral-800">
      Apa yang kamu cari?
    </h1>
    <nav class="search-nav">
      <Search id="search" className="pagefind-ui" />
    </nav>
  </Prose>
</Base>

<style is:global>
  .search-nav {
    display: grid;
    place-items: center;
  }

  .pagefind-ui {
    --pagefind-ui-scale: 0.75;
    --pagefind-ui-primary: var(--color-blue-700);
    --pagefind-ui-text: black;
    --pagefind-ui-border: var(--color-neutral-300);
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0.25rem;
    --pagefind-ui-font: sans-serif;

    width: 100%;
  }

  [data-theme='dark'] .pagefind-ui {
    --pagefind-ui-scale: 0.75;
    --pagefind-ui-primary: var(--color-amber-400);
    --pagefind-ui-text: var(--color-neutral-300);
    --pagefind-ui-border: var(--color-neutral-700);
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0.25rem;
    --pagefind-ui-font: sans-serif;
    --pagefind-ui-background: var(--color-neutral-800);

    width: 100%;
  }

  .pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
    position: relative;
    left: 0;
    right: 0;
    margin-top: 0px;
    z-index: 9999;
    padding: 0 2em 1em;
    overflow-y: auto;
    box-shadow:
      0 10px 10px -5px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: var(--pagefind-ui-border-radius);
    border-bottom-left-radius: var(--pagefind-ui-border-radius);
    background-color: var(--pagefind-ui-background);
  }

  .pagefind-ui .pagefind-ui__result-link {
    color: var(--pagefind-ui-primary);
  }

  .pagefind-ui .pagefind-ui__result-excerpt {
    color: var(--pagefind-ui-text);
  }
</style>
