@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.card {
	background-color: var(--bg-second);
	border-radius: 0.5rem;
	box-shadow: var(--shadow-md);
  overflow: hidden;
	padding: 1rem;
	
	font-size: 14px;

	border: 2px solid transparent;

	@include m.transition(box-shadow, transform, border-color);

	&:hover {
		box-shadow: var(--shadow-lg);
		transform: translateY(-1px);
		border-color: var(--cl-accent);
	}

	&__footer {
		@include m.flex-between;
	}

	// HEADING
	.heading {
    margin-top: 0.75rem;
		&--h1 {
			font-size: v.$font__size--3xl;
		}
		&--h2 {
			font-size: v.$font__size--2xl;
		}
		&--h3 {
			font-size: v.$font__size--xl;
		}
		&--h4 {
			font-size: v.$font__size--lg;
		}
		&--h5, &--h6 {
			font-size: v.$font__size--md;
		}
	}

	// IMAGE
	.figure {
		margin: 0;
		padding: 0;
		&__image {
			width: 100%;
			height: auto;
		}
	}

	@include b.max(lg) {
		font-size: 12px;
	}
}