@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

// CARD
.card-container {
	column-count: 2;
	column-gap: 1rem;
	margin-block: 1rem;

  @include b.max(lg){
    column-count: 1;
  }
}

.card {
	break-inside: avoid;
  border: 1px dashed var(--cl-border);
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	box-shadow: var(--shadow-md);
  overflow: hidden;

	.heading {
    margin-top: 0.75rem;
		&--h1 {
			font-size: v.$font__size--3xl;
		}
		&--h2 {
			font-size: v.$font__size--2xl;
		}
		&--h3 {
			font-size: v.$font__size--xl;
		}
		&--h4 {
			font-size: v.$font__size--lg;
		}
		&--h5, &--h6 {
			font-size: v.$font__size--md;
		}
	}

	&__body {
		font-size: 14px;
	}

  &__footer {
    @include m.flex-between;
    border-top: 1px dashed var(--cl-border);
    margin-block: 1rem;
  }

  &__button {
    @include m.flex-center;
    padding: 0.75rem;
    background-color: var(--bg-second);
    border: 1px dashed var(--cl-border);
    border-top: none;
    border-radius: 0rem 0 0.75rem 0.75rem;
    color: var(--cl-accent);
    font-weight: 700;
    
    &:hover {
      color: var(--cl-accent-hover);
    }
  }
}
