@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.featured {
  margin-block: 0.75em;
  padding-block-end: 3em;

  &__title {
    margin-block: 0.25em 0;
    border: none;
  }
}

.thumbnail {
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 0.5em;
  box-shadow: var(--shadow-sm);

  &__image {
    width: 100%;
    object-fit: cover;
    margin: auto;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  width: fit-content;
  padding: 0.5em 1em;
  background-color: var(--accent-third);
  color: var(--fix-white);
  font-weight: 600;
  border-radius: 0.25em;
  box-shadow: var(--shadow-sm);

  &:hover {
    background-color: var(--accent-second);
    color: var(--fix-white);
  }
}

.pagination {
  @include m.flex-justify(center, center);
  gap: 0.5em;
  flex-wrap: wrap;

  &__link {
    @include m.transition(all);
    display: inline-flex;
    padding: 0.5em;
    color: var(--text-base);
    font-size: v.$fs-xl;

    &--is-active,
    &:hover {
      font-size: v.$fs-10xl;
      color: var(--accent-base);
    }

    &--is-disabled {
      cursor: not-allowed;
      &:hover {
        font-size: v.$fs-xl;
        color: var(--text-muted);
      }
    }
  }
}

.taxonomy {
  display: grid;

  &__label {
    margin-block: 0.25em 0.5em;
  }

  &__link {
    @include m.flex-justify(space-between, center);
    padding: 0.25em 0;
  }
}
