@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.sr-only {
  @include m.visually-hidden();
}

.grid {
  display: grid;
  gap: 2.5em;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));

  &--fluid-md {
    grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
  }

  &--fluid-lg {
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  }
}

.multi-column {
  column-width: 20em;
  column-gap: 1em;

  &__item {
    display: inline-block;
    width: 100%;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
  }
}

button {
  cursor: pointer;
}
