@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

:is(html, body){
  max-width: 100vw;
  min-height: 100dvh;
  height: 100dvh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: stretch;
  gap: 1rem;
}

.sidebar {
  min-height: 100dvh;
  width: 320px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--bg-body);
  box-shadow: var(--shadow-lg);
  display: none;

  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--cl-border) var(--bg-second);

  &--active {
    display: block;
  }

  @include b.max(lg){
    border-right: 1px solid var(--cl-border);
    position: fixed;
    display: block;
    @include m.transition(transform, opacity, visibility);
    
    transform: translateX(-100%);
    visibility: hidden;
    &--active {
      transform: translateX(0%);
      visibility: visible;
    }
  }
}

.layout {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--cl-border) var(--bg-second);
}

// HEADER
.header {
  @include m.flex-between;
  height: 5rem;
  position: sticky;
  top: 0;
  background-color: var(--bg-body);
  z-index: 50;
}

.footer {
  margin-top: 5rem;
  text-align: center;
}