@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

// MENU
.menu {
  padding-inline: 2rem;
  &__list {
    list-style: none;
    padding: 0;
  }

  &__link {
    @include m.flex-between;
    width: 100%;
    padding: 0.25rem;
    font-size: v.$font__size--lg;
    border-bottom: 1px solid var(--cl-border);
    font-weight: 600;

    color: var(--cl-text-title);

    &::after {
      content: "\25A0";
    }

    &:is(:hover, &--active, &--ancestor){
      color: var(--cl-accent);
    }
  }
}

.result {
  position: absolute;
  background-color: var(--bg-second);
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  height: 50vh;
  width: 70%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 14px;
  box-shadow: var(--shadow-lg);
  border: 3px solid var(--cl-border);
  scrollbar-width: thin;
  scrollbar-color: var(--bg-second) var(--cl-border);

  &__link {
    text-decoration: none;
  }

  @include b.max(lg){
    width: 100%;
  }
}

.search {
  @include m.flex-center;
  padding: 0.5rem;
  background-color: var(--bg-second);
  border: 2px solid var(--cl-border);
  border-radius: 0.5rem;
  height: 45px;
  width: 70%;

  &__input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--cl-accent);
    border-radius: 0.5rem;
    height: 45px;

    &::placeholder {
      color: var(--cl-text-muted);
    }
  }
}