@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.pagination {
  @include m.flex-center;
  list-style: none;
  margin: 1rem 0;
  padding: 1rem 0;
  gap: 1rem;
  margin-top: 5rem;

  &__item {
    margin: 0;
    padding: 0;
  }

  &__link {
    box-shadow: var(--shadow-md);
    font-size: v.$font__size--2xl;
    font-family: v.$font__family--serif;
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: var(--cl-text-title);
    font-weight: 600;
    border: 1px solid var(--cl-border);

    @include m.transition(box-shadow, border-color);

    &:hover,
    &--active {
      color: var(--cl-accent-hover);
      box-shadow: var(--shadow-lg);
      border-color: var(--cl-accent-hover);
    }

    &--active {
      cursor: not-allowed;
    }

    &--disabled {
      color: var(--cl-text-muted);

      &:hover {
        color: var(--cl-text-muted);
        box-shadow: var(--shadow-md);
        cursor: not-allowed;
      }
    }

    @include b.max(lg){
      font-size: v.$font__size--xl;
    }
  }
}