@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.page {
  display: block;
  line-height: 1.6;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  word-break: normal;
  overflow-wrap: anywhere;
  hyphens: auto;
  padding-inline: 1.5em;

  &__title {
    &--primary-border {
      border-block-end: 3px solid var(--accent-second);
    }
  }
}
