@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.sidebar {
  border-block-start: 1px solid var(--border-base);
  padding-inline: 1.5em;

  @include b.min(md) {
    border: none;
  }
}

.search-bar {
  &__container {
    @include m.flex-justify(center, center);
    gap: 0.5em;
    width: 100%;
    padding: 0.5em 1em;
    margin-block: 2em 0.5em;
    border: 1px solid var(--border-base);
    background-color: var(--bg-second);
    border-radius: 0.15em;
  }

  &__input {
    width: 100%;
    outline: none;
  }
}

.widget {
  display: grid;

  &__title {
    border-block-end: 3px solid var(--accent-base);
    margin-block-end: 0.25em;
  }

  &__link {
    display: inline-block;
    width: 100%;
    padding: 0.4em 0;
    color: var(--text-base);
    border-block-end: 1px solid var(--border-base);
    font-size: v.$fs-sm;
  }

  &__tags {
    @include m.flex-justify(start, end);
    flex-wrap: wrap;
    gap: 0.5em;
  }
}

.badge {
  @include m.transition(all);
  font-size: v.$fs-sm;
  background-color: var(--fix-bg-ui-base);
  color: var(--fix-white);
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  box-shadow: var(--shadow-sm);
  font-weight: 600;

  &:hover,
  &:focus-visible {
    background-color: var(--accent-third);
    color: var(--fix-white);
    box-shadow: var(--shadow-lg);
    outline: none;
  }
}
