@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

html {
	font-family: v.$font__family--sans;
	font-size: v.$font__size--default;
	font-weight: 400;

	background-color: var(--bg-body);
	color: var(--cl-text-default);

	@include b.max(xl) {
		font-size: 14px;
	}
}

.heading {
	font-family: v.$font__family--serif;
	color: var(--cl-text-title);
	text-shadow: var(--text-shadow-md);
	font-weight: 700;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	padding-bottom: 0.25rem;
	border-bottom: 1px dashed var(--cl-border);

	scroll-margin-top: 5rem;

	&__anchor {
		visibility: hidden;
		opacity: 0;
		@include m.transition(visibility, opacity);
	}
	
	&:hover {
		.heading__anchor {
			visibility: visible;
			opacity: 1;
		}
	}

	&--h1 {
		font-size: v.$font__size--6xl;
		text-align: center;
		@include m.flex-center;

		.heading__anchor {
			display: none;
		}
	}

	&--h2 {
		font-size: v.$font__size--5xl;
	}
	&--h3 {
		font-size: v.$font__size--4xl;
	}
	&--h4 {
		font-size: v.$font__size--3xl;
	}
	&--h5 {
		font-size: v.$font__size--2xl;
	}
	&--h6 {
		font-size: v.$font__size--xl;
	}
}

// STRONG & BOLD
:is(b, strong) {
	color: var(--cl-text-title);
	font-weight: 700;
}

p {
	margin-bottom: 1em;
}

p + p {
	margin-top: 1em;
}

:is(ul, ol) {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 2em;
}

:is(ol ol, ul ol) {
	list-style-type: lower-roman;
}

:is(ul ul ol, ul ol ol, ol ul ol, ol ol ol) {
	list-style-type: lower-alpha;
}

:is(ul ul, ul ol, ol ol, ol ul) {
	margin-top: 0;
	margin-bottom: 0;
}

li + li {
	margin-top: 0.25em;
}

li > p {
	margin-top: 1rem;
}

dl {
	dt {
		font-weight: bold;
		margin-top: 15px;
		color: var(--cl-text-title);
	}

	dd {
		margin-left: 20px;
		margin-bottom: 10px;
	}
}

// TABLE
table {
	margin: 1rem auto;
	border-spacing: 0;
	border-collapse: collapse;
	min-width: 100%;
	max-width: 100%;
	box-shadow: var(--shadow-md);

	&:hover {
		scrollbar-color: var(--cl-accent) var(--bg-body);
	}

	th {
		background-color: var(--bg-second);
		color: var(--cl-text-title);
		padding: 15px;
		text-align: left;
	}

	td {
		padding: 12px 15px;
		border-bottom: 1px solid var(--cl-border);
	}

	tr:last-child td {
		border-bottom: none;
	}

	tr:hover {
		background-color: var(--bg-third);
		color: var(--cl-text-title);
	}
}

hr {
	border: 0;
	height: 3px;
	max-width: 100%;
	background-color: var(--cl-border);
	margin: 20px 0;
}

a {
	color: var(--cl-accent);
	text-shadow: var(--text-shadow-md);

	&:hover {
		color: var(--cl-accent-hover);
	}
}

.link {
	text-decoration: underline;

	&--external {
		color: var(--cl-link-external);

		&:hover {
			color: var(--cl-link-external-hover);
		}
	}

	&--missing {
		color: var(--cl-link-missing);
		cursor: not-allowed;

		&:hover {
			color: var(--cl-link-missing-hover);
		}
	}
}

// BlockQuote
.blockquote {
  border-left: 4px solid var(--cl-accent);
  background-color: var(--bg-second);
  color: var(--cl-text-muted);
  font-style: normal;
  font-family: v.$font__family--serif;
  position: relative;
  margin: 2rem auto;
  padding: 1.5rem 2rem;
  max-width: 80ch;
  box-shadow: var(--shadow-md);
}