@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

html {
  @include m.custom-scrollbar(var(--bg-base), var(--text-title));
  background-color: var(--bg-base);
  color: var(--text-base);
  font-size: v.$fs-default;
  font-family: v.$font-main;
  font-weight: 400;
}

.site {
  display: block;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  line-height: 1.65;
  letter-spacing: 0.03em;
  overflow-x: hidden;
  word-break: normal;
  overflow-wrap: anywhere;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flow-root;
  line-height: 1.75;
  font-weight: 600;
  color: var(--text-title);
  text-shadow: var(--text-shadow-sm);
  margin-block: 1em 0.25em;
}

h1,
h2 {
  border-block-end: 1px dotted var(--border-base);
}

h1 {
  font-size: v.$fs-5xl;
  margin-block-start: 0;
}

h2 {
  font-size: v.$fs-4xl;
}

h3,
h4,
h5,
h6 {
  font-size: v.$fs-lg;
}

p {
  margin-block-end: 1em;

  + p {
    margin-block-start: 1.5em;
    margin-block-end: 1em;
  }
}

b,
strong {
  color: var(--text-title);
  font-weight: 700;
}

small {
  font-size: 80%;
}

mark {
  padding-inline: 0.5em;
  border: 1px solid var(--border-base);
  box-shadow: var(--shadow-sm);
}

a {
  color: var(--link);

  &:hover {
    color: var(--link-hover);
  }
}

.link {
  text-decoration: underline;
  &:visited {
    color: var(--link-visited);
  }
}

.broken-link,
.link-broken {
  color: red;
}

hr {
  display: flow-root;
  margin-block: 2em;
  border: none;
  height: 2px;
  background-color: var(--border-second);
}

ul,
ol {
  padding-inline-start: 2.5em;
  margin-block: 1em;
  display: flow-root;
}

li {
  margin-block: 0.5em;
}

ul ul,
ol ol {
  padding-inline-start: 1.75em;
}

/* ===== Unordered List (ul) ===== */
ul:where(:not(:where(ul, ol) ul)) {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: disc;
}

/* ===== Ordered List (ol) ===== */
ol:where(:not(:where(ul, ol) ol)) {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: lower-roman;
}
ol ol ol ol {
  list-style-type: decimal;
}

// DEFINITION LIST
dl {
  margin-block: 1em;
}

dt {
  font-weight: 600;
  margin-top: 0.5em;
}

dd {
  margin-inline-start: 1.5em;
  margin-block: 0.25em 0.5em;
}

// TABLE
.table-container {
  display: flow-root;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  margin: 1.5em 0;
  border-radius: 0.25em;
  border: 1px solid var(--border-base);
  border-block-end: none;
  box-shadow: var(--shadow-sm);
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 65ch;
  background-color: var(--bg-base);
}

thead {
  background-color: var(--bg-second);
}

th {
  text-align: start;
  padding: 1em 1.5em;
  font-weight: 600;
  color: var(--color-second);
  border-block-end: 1px solid var(--border-base);
  white-space: nowrap;
}

td {
  padding: 1em 1.5em;
  border-block-end: 1px solid var(--border-base);
  color: var(--text-tertiary);
  white-space: nowrap;
}

tbody tr:hover {
  background-color: var(--bg-second);
}

tbody tr:nth-child(even) {
  background-color: var(--bg-second);
}

// FOOTNOTE
.footnote-ref {
  margin-inline-start: 0.1em;
  text-decoration: underline dotted;

  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}

.footnote-backref {
  text-decoration: none;
}

.footnotes {
  font-size: v.$fs-sm;
  hr {
    display: none;
  }
  p {
    margin: 0;
  }

  @include b.min(md) {
    ol {
      column-width: 24em;
    }

    li {
      break-inside: avoid;
      margin-block-start: 0;
      margin-inline: 1em;
    }
  }
}

// ABBR
abbr[title] {
  position: relative;
  text-decoration: underline dotted;
  cursor: help;

  &:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--bg-second);
    color: var(--text-base);
    padding: 0.25em 0.6em;
    margin-inline: 1.5em;
    border-radius: 0.25em;
    font-size: 0.875em;
    white-space: nowrap;
    box-shadow: var(--shadow-md);
    z-index: 10;
  }
}

// BLOCKQUOTE
blockquote {
  display: flow-root;
  border-inline-start: 4px solid var(--link);
  padding-inline-start: 1em;
  margin-inline-start: 1em;
  font-style: italic;
  position: relative;
  color: var(--text-muted);
  font-style: italic;
  quotes: "“" "”" "‘" "’";
}

// CALLOUT
.callout {
  display: flow-root;
  margin-block: 2em;
  border: 1px solid var(--callout-border);
  background-color: var(--callout-bg);
  box-shadow: var(--shadow-sm);
  border-radius: 0.75em;
  overflow: hidden;

  &__header {
    padding: 1em 2em;
    border-block-end: 1px solid var(--callout-border);
    display: flex;
    align-items: center;
    gap: 0.75em;
    background-color: var(--callout-bg);
  }

  &__title {
    font-size: v.$fs-xl;
    color: var(--callout-color);
  }

  &__body {
    padding: 1em;
  }

  .icon {
    color: var(--callout-color);
  }
}

// IMAGE
.figure {
  display: block;
  margin: 1em 0;
  text-align: center;
  max-width: 100%;

  &__image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
  }

  &__caption {
    font-size: v.$fs-sm;
    color: var(--text-muted);
    margin-top: 0.5em;
    line-height: 1.4;
  }
}

.float {
  margin: 2em;
  
  @include b.min(md) {
    &--left {
      float: left;
      margin-right: 2em;
      text-align: left;
    }
    &--right {
      float: right;
      margin-left: 2em;
      text-align: right;
    }
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
