---
import { SITE } from '../../../site.config'

import HeaderLink from './HeaderLink.astro'
---

<nav
  class:list={[
    'absolute top-full left-0 w-full',
    'hidden origin-top scale-y-0 transition-all duration-300',
    'md:relative md:block md:w-auto md:scale-y-100'
  ]}
  id="menu-elm"
>
  <ul
    class:list={[
      'border-y p-4',
      'border-neutral-200 bg-white',
      'dark:border-neutral-800 dark:bg-neutral-900',
      'md:flex md:items-center md:justify-center md:gap-6 md:border-none md:p-0',
      'md:bg-transparent',
      'dark:md:bg-transparent'
    ]}
  >
    {SITE.menus.map((item) => <HeaderLink {...item} />)}
  </ul>
</nav>
