<header
  class:list={[
    'border-b fixed top-0 left-0 w-full z-100',
    'border-neutral-200 bg-white',
    'dark:border-neutral-700 dark:bg-neutral-900'
  ]}
>
  <div class:list={['container mx-auto px-4 min-h-20', 'flex items-center justify-between']}>
    <slot />
  </div>
</header>
