<header
  class:list={['relative border-b', 'border-neutral-200 shadow-xs', 'dark:border-neutral-800']}
>
  <div class:list={['container mx-auto min-h-20 px-4', 'flex items-center justify-between']}>
    <slot />
  </div>
</header>
