---
import { Icon } from 'astro-icon/components'
---

<button id="btn-menu" class:list={['md:hidden', 'text-black', 'dark:text-white']}>
  <Icon name="bi:list" id="icon-menu-open" size={24} class="" />
  <Icon name="bi:x" id="icon-menu-close" size={24} class="hidden" />
</button>
