---
import { Image } from 'astro:assets'
import { SITE_PARAMS } from '../../site.config'
---

<a href={`${SITE_PARAMS.site}${SITE_PARAMS.base}`}>
	<Image
		src={SITE_PARAMS.logo}
		alt={SITE_PARAMS.author}
		width={58}
		height={58}
		class="rounded-full border-2 border-zinc-300 dark:border-zinc-700"
	/>
</a>
