---
const { href, primary = false, label, className, ...rest } = Astro.props
const classes =
	`inline-flex items-center w-fit gap-2 px-6 py-2.5 rounded-sm shadow-sm shadow-black border hover:bg-neutral-700 hover:text-white transition-all duration-300 font-bold cursor-pointer text-shadow-sm text-shadow-black ${primary ? 'text-white bg-neutral-800 border-neutral-700' : 'border-neutral-800'} ${className}`.trim()
---

{
	href ? (
		<a href={href} class={classes} {...rest}>
			{label ?? <slot />}
		</a>
	) : (
		<button class={classes} {...rest}>
			{label ?? <slot />}
		</button>
	)
}