---
import Brand from '../components/Brand.astro'

import { Icon } from "astro-icon/components"
---
<header>
  <Brand/>
  <button id="switchTheme">
		<Icon name="icon-sun" class="icon-theme icon-theme-sun" />
		<Icon name="icon-moon" class="icon-theme icon-theme-moon" />
	</button>
</header>