---
import { getMenuIcon } from '../utils/get-menu-icon'
import { Icon } from 'astro-icon/components'
import { SITE } from '../consts'

const { pathname } = Astro.url
const { BASE_URL } = import.meta.env
---

<ul class="grid gap-2">
  {
    SITE.menus.main.map((item) => {
      const { href, class: className, name, ...attr } = item
      const { name: n, icon: i } = getMenuIcon(name)
      const active =
        href == pathname || (pathname.startsWith(href?.toString() || '') && href != BASE_URL)

      return (
        <li
          class:list={[
            'px-4 py-1.5 rounded-lg',
            'dark:hover:bg-neutral-700 dark:hover:shadow-xs/100 dark:hover:text-white',
            active ? 'dark:bg-neutral-700 dark:shadow-xs/100 dark:text-white' : ''
          ]}
        >
          <a href={href} class:list={['flex items-center gap-2']} {...attr}>
            <Icon name={i} />
            <span>{n}</span>
          </a>
        </li>
      )
    })
  }
</ul>
