<div
  class:list={[
    'prose prose-neutral prose-sm',
    'prose-headings:not-prose-h1:border-b',
    'prose-headings:not-prose-h1:pb-1',
    'prose-em:font-serif prose-blockquote:font-serif',
    'prose-pre:shadow-xs',
    'prose-pre:border prose-pre:border-neutral-300',
    'dark:prose-pre:border-neutral-700 dark:prose-pre:shadow-xs/100',
    'prose-headings:not-prose-h1:border-neutral-200',
    'prose-a:text-blue-700 prose-a:hover:text-blue-600',
    'dark:prose-a:text-amber-400 dark:prose-a:hover:text-amber-500',
    'dark:prose-invert',
    'dark:prose-headings:not-prose-h1:border-neutral-800',
    'mx-auto max-w-full',
    'md:prose-base'
  ]}
>
  <slot />
</div>
