<div>
	<label for="search">Search</label>
	<input id="search" type="search" />
</div>

<ul id="results"></ul>

<script>
  (async()=>{
    const inputSearch = document.getElementById('search');
    const resultsElement = document.getElementById('results');
  })()
</script>