---
import { getCollection } from 'astro:content'
import { buildTree } from '../utils/buildTree'

import { Icon } from 'astro-icon/components'

import NavTree from '../components/NavTree.astro'
import Header from './Header.astro'
import Search from './Search.astro'
import ToggleTheme from './ToggleTheme.astro'

const vault = await getCollection('vault')
const slugs = vault.map(i => i.id)
const navTree = buildTree(slugs)
---

<div>
	<Header activeIn="sidebar" />
	<div>
		<ToggleTheme />
		<Search />
	</div>
	<div>
		<button id="switchTheme">
			<Icon name="icon-sun" class="icon-theme" />
			<Icon name="icon-moon" class="icon-theme" />
		</button>

		<Search />
	</div>
	<nav>
		<NavTree tree={navTree} />
	</nav>
</div>
