---
import { Icon } from 'astro-icon/components'
import { SITE } from '../consts'
import { getMenuIcon } from '../utils/get-menu-icon'
---

<div class="flex items-center justify-center gap-4">
  {
    SITE.menus.social.map((item) => {
      const { href, name, ...attr } = item
      const { name: n, icon: i } = getMenuIcon(name)

      return (
        <a href={href} {...attr} class="hover:text-violet-600">
          <Icon name={i} size={20} />
          <span class="sr-only">{n}</span>
        </a>
      )
    })
  }
</div>
