{{ define "main" }}
<article class="grid">
  <section class="grid__item">
    <h1 class="heading heading--1">{{ .Title }}</h1>
    <hr>
    <div class="markdown">
      {{ .Content | safeHTML }}
    </div>
  </section>
  <section class="grid__item collection">
    <h2 class="heading heading--1">Collection</h2>
    <hr>
    <div class="collection__list">
      {{ partial "components/collections.html" (dict "targetSection" "posts" "Site" .Site) }}
    </div>
  </section>
</article>

<div class="card-container">
  <h2 class="heading heading--1">Note Board</h2>
  <hr>
  <div class="card-masonry">
    {{ partial "components/notes.html" (dict "sections" (slice "board" "notes" "posts") "Site" .Site) }}
  </div>
</div>
{{ end }}
