{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <hr>
  {{ partial "wikilinks" . }}
  <hr>
  <h2>Semua Catatan</h2>
  <div class="masonry">
    {{ range .Site.Pages }}
      {{ if .IsSection }}
        {{ if .Pages }}
          <nav class="masonry__item">
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <ul>
              {{ range .Pages }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
            </ul>
          </nav>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
  <style>
    .masonry {
      column-count: 2;
    }
  
    .masonry__item {
      break-inside: avoid;
    }

    @media (max-width: 62em) {
      .masonry {
        column-count: 1;
      }
    }
  </style>
{{ end }}
