{{ define "main" }}
  {{ $pages := .Pages.ByDate.Reverse }}
  {{ $paginator := .Paginate $pages }}


  <header>
    <article
      class="prose prose-zinc dark:prose-invert prose-headings:font-normal prose-sm md:prose-base max-w-3xl"
    >
      {{ if not (ne $paginator.PageNumber 1) }}
        <h1>Bukan menggurui, hanya sebatas pengetahuan pribadiku</h1>
        <p>
          Tulisan-tulisan di bawah ini lahir dari pemikiran dan pengalaman
          pribadiku. Bukan panduan hidup, bukan juga nasihat.
        </p>
        <p>
          Anggap saja sebagai catatan seseorang yang sedang mencoba memahami
          banyak hal, sambil menerima bahwa tidak semua pertanyaan harus punya
          jawaban sekarang.
        </p>
      {{ else }}
        <h1>Halaman ke-{{ $paginator.PageNumber }}</h1>
      {{ end }}
    </article>
    <br />
    <br />
  </header>
  <hr class="my-8 border-zinc-300 dark:border-zinc-700" />
  <section class="grid gap-8 sm:grid-cols-2 lg:gap-12">
    {{ range $paginator.Pages }}
      {{ partial "components/post-card" . }}
    {{ end }}
  </section>

  <nav>
    {{ partial "components/pagination" . }}
  </nav>
{{ end }}
