{{ define "main" }}
  <article class="markdown">
    {{ .Content | safeHTML }}
  </article>
  <div class="card-container">
    {{ $pages := .Pages }}
    {{ $paginator := .Paginate $pages }}

    {{ range $paginator.Pages }}
      <div class="u-container card">
        <div class="markdown card__body">
          {{ .Content | safeHTML }}
        </div>
        <div class="card__footer">
          {{ partial "components/time.html" (dict "ctx" . "createLabel" "Published" "updateLabel" "Updated") }}
          <button class="card__button" onclick="window.location.href='{{ .RelPermalink }}'">Read More</button>
        </div>
      </div>
    {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
{{ end }}
