{{ define "main" }}
{{ $pages := .RegularPages }}
{{ $sortedPages := sort $pages "Date" "desc" }}
{{ $paginator := .Paginate $sortedPages }}

{{ if eq $paginator.PageNumber 1 }}
    {{ partial "hero.html" . }}
{{ end }}

<div class="content content--featured">
    <div class="grid grid--col-2">

        {{ range $paginator.Pages }}
            <figure class="card" onclick='window.location.href="{{ .RelPermalink | relURL }}"'>
                <figcaption class="card__body">
                    <time datetime="{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}" style="display: block;">{{ .Date | time.Format "January 02. 2006" }}</time>
                    {{/*  <strong class="text-w-400 text-4xl">{{ .Title | title }}</strong>  */}}
                    {{ .Summary | strings.Truncate 280 | safeHTML }}
                </figcaption>
                <div class="card__footer">
                    <button class="btn btn--primary text-lg">
                        Read More
                    </button>
                </div>
            </figure>
        {{ end }}
        
    </div>
</div>

<div class="content content--pagination">
    {{ partial "pagination.html" . }}
</div>
{{ end }}