{{- $caption := "" -}}
{{- $title := "" -}}
{{- $width := "" -}}

{{- if ne .Title "" -}}
  {{- $parts := split .Title "|" -}}
  {{- range $parts -}}
    {{- if not (or (strings.HasPrefix . "width=") (strings.HasPrefix . "title=")) -}}
      {{- $caption = . | $.Page.RenderString -}}
    {{- end -}}
    {{- if strings.HasPrefix . "width=" -}}
      {{- $width = replace . "width=" "" -}}
    {{- end -}}
    {{- if strings.HasPrefix . "title=" -}}
      {{- $title = replace . "title=" "" -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $alt := .Text | plainify -}}
{{- $src := cond (strings.HasPrefix .Destination "http") .Destination (.Destination | absURL) -}}
{{- $w := cond (ne $width "") (printf "width=\"%s\"" $width) "" -}}

{{- $imgTag := printf `<img src="%s" alt="%s" title="%s" %s loading="lazy" decoding="async" class="figure__image" onclick="openImage(this)" />` $src $alt $title $w | safeHTML -}}

{{- if $caption }}
  <figure class="figure" {{ with $width }}style="width:{{ . }}px;"{{ end }}>
    {{ $imgTag }}
    <figcaption class="figure__caption">{{ $caption }}</figcaption>
  </figure>
{{- else }}
  {{ $imgTag }}
{{- end }}

{{- .Page.Store.Set "hasImages" true -}}