{{ $emojis := dict
  "caution" ":exclamation:"
  "important" ":information_source:"
  "note" ":information_source:"
  "tip" ":bulb:"
  "warning" ":information_source:"
}}

{{ $colors := dict
  "caution" "#f59e0b"
  "important" "#3b82f6"
  "note" "#6b7280"
  "tip" "#10b981"
  "warning" "#ef4444"
}}

{{ if eq .Type "alert" }}
  <blockquote style="border-left-color: {{ index $colors .AlertType }};">
    <p>
      <strong>
        {{ transform.Emojify (index $emojis .AlertType) }}
        {{ with .AlertTitle }}
          {{ . }}
        {{ else }}
          {{ or (i18n .AlertType) (title .AlertType) }}
        {{ end }}
      </strong>
    </p>
    {{ .Text }}
  </blockquote>
{{ else }}
  <blockquote>
    {{ .Text }}
  </blockquote>
{{ end }}
