{{- $alt := .PlainText }}
{{- $titleRaw := .Title | default "" }}

{{- /* -------------------------
  PARSE key=value PARAMETERS
  -------------------------
*/}}

{{- $params := dict }}

{{- range (split $titleRaw "|") }}
  {{- if in . "=" }}
    {{- $kv := split . "=" }}
    {{- $key := lower (strings.TrimSpace (index $kv 0)) }}
    {{- $val := strings.TrimSpace (index $kv 1) }}
    {{- $params = merge $params (dict $key $val) }}
  {{- end }}
{{- end }}

{{/* Extract final params */}}
{{- $imgTitle := or ($params.title) "" }}
{{- $sizesStr := or ($params.sizes) "" }}
{{- $process  := or ($params.process) "" }}
{{- $class    := or ($params.class) "rounded-sm drop-shadow-sm/100 w-fit" }}

{{/* Build resize string */}}
{{- $sizes := slice }}

{{- if $sizesStr }}
  {{- $resize := $sizesStr }}
  {{- $sizes = slice $resize }}
{{- end }}

{{- /* -------------------------
  RESOLVE IMAGE PATH
  -------------------------
*/}}

{{- $u := urls.Parse .Destination }}
{{- $src := $u.String }}

{{- if not $u.IsAbs }}
  {{- $path := strings.TrimPrefix "./" $u.Path }}
  {{- with or (.PageInner.Resources.Get $path) (resources.Get $path) }}
    {{- $src = .RelPermalink }}
  {{- end }}
{{- end }}

{{- /* -------------------------
  SEND TO PARTIAL
  -------------------------
*/}}

{{ partial "assets/image" (dict
  "src"   $src
  "alt"   $alt
  "title" $imgTitle
  "sizes" $sizes
  "class" $class
  "process" $process
  )
}}

{{- /* chomp trailing newline */ -}}