<header class="header">
  <a href="{{ site.BaseURL | absURL }}" class="header__title">
    <span class="emoji">{{ site.Params.emoji }}</span>
    <span>{{ site.Title | title }}</span>
  </a>

  <nav class="nav">
    {{ range .Site.Menus.main }}
      <a href="{{ .PageRef | relURL }}" class="nav__link">
        <span class="emoji">{{ .Params.emoji }}</span>
        <span>{{ .Name }}</span>
      </a>
    {{ end }}

    <button class="nav__link" id="toggleThemes">
      <span class="emoji">☀️</span>
      <span>Themes</span>
    </button>
  </nav>
</header>