<aside class="sidebar">
  {{- /*  ===== START: SEARCH =====  */}}
  <div class="search-bar" data-search="{{ "search.json" | relURL }}">
    <label class="search-bar__container">
      {{ partial "components/icon.html" (dict "name" "search" "class" "search__icon" "width" 18 "height" 18) }}
      <input
        type="search"
        name="searchInput"
        id="searchInput"
        class="search-bar__input"
        placeholder="Search Content..."
        autocomplete="off" />
    </label>
  </div>

  <nav class="results widget" id="searchContainerResults" hidden>
    <h2 class="widget__title">RESULTS SEARCH</h2>
    <div id="results" class="widget" aria-live="polite"></div>
  </nav>
  {{- /*  ===== END: SEARCH =====  */}}

  {{- /*  ===== START: RELATED POSTS =====  */}}
  {{- with site.RegularPages.Related . | first 5 }}
    <nav class="widget">
      <h2 class="widget__title">RELATED POSTS</h2>
      {{- range . }}
        <a href="{{ .RelPermalink }}" class="widget__link">{{ .LinkTitle | title | upper }}</a>
      {{- end }}
    </nav>
  {{- end }}
  {{- /*  ===== END: RELATED POSTS =====  */}}

  {{- /*  ===== START: RECENT CHANGE =====  */}}
  <nav class="widget">
    <h2 class="widget__title">RECENT CHANGE</h2>
    {{- range first 5 (sort site.RegularPages "Lastmod" "desc") }}
      <a href="{{ .RelPermalink }}" class="widget__link">{{ .Title | upper }}</a>
    {{- end }}
  </nav>
  {{- /*  ===== END: RECENT CHANGE =====  */}}

  {{- /*  ===== START: TOP CATEGORIES =====  */}}
  <nav class="widget">
    <h2 class="widget__title">TOP CATEGORIES</h2>
    {{- range first 5 (sort site.Taxonomies.categories "Count" "desc") }}
      {{- $term := replaceRE "[-_]+" " " .Page.Title | upper }}
      <a href="{{ .Page.Permalink }}" class="widget__link">{{ $term }}</a>
    {{- end }}
  </nav>
  {{- /*  ===== END: TOP CATEGORIES =====  */}}

  {{- /*  ===== START: TOP TAGS =====  */}}
  <nav class="widget">
    <h2 class="widget__title">TOP TAGS</h2>
    <div class="widget__tags">
      {{- range first 15 (sort site.Taxonomies.tags "Count" "desc") }}
        {{- $term := replaceRE "[-_]+" " " .Page.Title | title | upper }}
        <a href="{{ .Page.Permalink }}" class="badge">
          {{- partial "components/icon" (dict "name" "tag-fill" "size" 14 ) }}
          <span>{{ $term }} ({{ .Count }})</span>
        </a>
      {{- end }}
    </div>
  </nav>
  {{- /*  ===== END: TOP TAGS =====  */}}

</aside>