---
import { Icon } from 'astro-icon/components'
import { SITE } from '../../../site.config'
---

<nav class="flex items-center justify-center gap-4">
  {
    SITE.social.map((s) => (
      <a
        href={s.href}
        target="_blank"
        class:list={['hover:text-blue-700', 'dark:hover:text-amber-400']}
      >
        <Icon name={s.icon} size={28} />
        <span class="sr-only">{s.name}</span>
      </a>
    ))
  }
</nav>
