<footer class:list={['border-t', 'border-neutral-200', 'dark:border-neutral-700']}>
  <div
    class:list={[
      'min-h-20 mx-auto container p-8',
      'flex items-center justify-center flex-col gap-4'
    ]}
  >
    <slot />
  </div>
</footer>
