@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;

.site-header {
  background-color: var(--bg-alt);
  border-bottom: 3px solid var(--cl-border);
  box-shadow: var(--shadow-soft);
  position: sticky;
  top: 0;

  &__wrapper {
    @include m.flex-justify(space-between, center);
    height: 4rem;
  }
}

.brand {
  line-height: 1;

  &__title {
    display: block;
    font-size: var(--fs-4xl);
    font-weight: 700;
    color: var(--text-title);
  }

  &__tagline {
    font-weight: 400;
    color: var(--text-muted);
    font-size: var(--fs-xs);
  }
}

.menu {
  @include m.transition(transform);
  background-color: var(--bg-alt);
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 999;
  display: grid;
  gap: 1rem;

  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;

  &__link {
    @include m.transition(color);
    @include m.flex-justify(center, center);
    width: 80%;
    gap: 0.5rem;
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    font-weight: bold;
    color: var(--text-title);
    font-size: var(--fs-xl);

    &--ancestor {
      color: var(--text-success);
    }
    
    &--active,
    &:hover {
      color: var(--text-info);
    }
  }

  &--is-open {
    transform: scaleY(1);
    opacity: 1;
    border-bottom: 1px solid var(--cl-border);
    box-shadow: var(--shadow-soft);
    padding-block: 2rem;
  }

  @include b.min(lg) {
    @include m.flex-justify(center, center);
    width: auto;
    top: auto;
    position: relative;
    transform: scaleY(1);
    opacity: 1;
  }
}