---
import '../styles/global.css'

import Meta from '../components/Meta.astro'
import Sidebar from '../components/Sidebar.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
---

<!doctype html>
<html lang="id" data-theme='dark'>
	<head>
		<Meta />
	</head>
	<body>
		<div class="layout">
      <Sidebar />
      <div class="main">
        <Header activeIn="header" />
        <slot />
        <Footer />
      </div>
		</div>
		<script src="../scripts/switchTheme.js"></script>
	</body>
</html>

<style>
  @reference '../styles/global.css';

  body {
    @apply
      bg-zinc-50 text-zinc-800
      dark:bg-zinc-900 dark:text-zinc-300;
  }

  .layout {
    @apply isolate;
  }
</style>