---
import { SITE_PARAMS } from '../../site.config'

import '../styles/global.css'
import Meta from '../components/Meta.astro'
import { Icon } from 'astro-icon/components'
---

<!doctype html>
<html lang="id" data-theme="light">
	<head>
		<Meta />
	</head>
	<body>
		<button id="switchTheme">
			<Icon name="icon-sun" class="icon-theme icon-theme-sun" />
			<Icon name="icon-moon" class="icon-theme icon-theme-moon" />
		</button>
		<slot />

		<script src="../scripts/switchTheme.js">
    </script>
	</body>
</html>

<style>
	@reference '../styles/global.css';
	@layer base {
		html {
			@apply dark:bg-zinc-900 dark:text-zinc-300;
		}
	}
</style>
