---
import '../assets/css/main.css'
import { Font } from 'astro:assets'

import HeaderWrapper from '../components/header/HeaderWrapper.astro'
import HeaderBrand from '../components/header/HeaderBrand.astro'
import HeaderMenu from '../components/header/HeaderMenu.astro'
import HeaderNavWrapper from '../components/header/HeaderNavWrapper.astro'
import HeaderButtons from '../components/header/HeaderButtons.astro'
import HeaderBarriers from '../components/header/HeaderBarriers.astro'
import MainWrapper from '../components/main/MainWrapper.astro'
import FooterWrapper from '../components/footer/FooterWrapper.astro'
import FooterCopyright from '../components/footer/FooterCopyright.astro'
import FooterSocial from '../components/footer/FooterSocial.astro'

import Seo, { type Props as SeoProps } from '../components/Seo.astro'
type Props = SeoProps
const seo = Astro.props
---

<!doctype html>
<html
  lang="en"
  data-theme="dark"
  class:list={[
    'scroll-smooth font-sans',
    'bg-white text-neutral-800 transition-colors duration-300',
    'dark:bg-neutral-900 dark:text-neutral-300'
  ]}
>
  <head>
    <script is:inline>
      const mQuery = window.matchMedia('(prefers-color-scheme: dark)')
      const storage = sessionStorage.getItem('theme')
      let theme

      if (storage) {
        theme = storage === 'dark' ? 'dark' : 'light'
      } else {
        theme = mQuery.matches ? 'dark' : 'light'
      }

      document.documentElement.setAttribute('data-theme', theme)
      sessionStorage.setItem('theme', theme)
    </script>
    <meta name="google-site-verification" content="qw8t-LDD8gr-Hff3v477FHDzkvEjv5aa7G0A0hhMZeI" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <Seo {...seo} />

    <Font cssVariable="--font-sans" preload />
    <Font cssVariable="--font-serif" />
    <Font cssVariable="--font-mono" />
    <script src="../assets/ts/main.ts"></script>
  </head>
  <body>
    <HeaderWrapper>
      <HeaderBrand />
      <HeaderNavWrapper>
        <HeaderMenu />
        <HeaderBarriers />
        <HeaderButtons />
      </HeaderNavWrapper>
    </HeaderWrapper>
    <MainWrapper>
      <slot />
    </MainWrapper>
    <FooterWrapper>
      <FooterSocial />
      <FooterCopyright />
    </FooterWrapper>
  </body>
</html>
