---
import "@styles/global.css"
import Seo, { type SeoProps } from "@components/Seo.astro"
import { CFG } from "@config"

import AppHeader from "@components/AppHeader.astro"
import AppMain from "@components/AppMain.astro"
import AppFooter from "@components/AppFooter.astro"

type Props = {
  lang?: string
  seo: SeoProps
}

const { lang = CFG.languageCode, seo } = Astro.props
---

<html
  lang={lang}
  class="min-h-screen min-w-screen place-content-center overflow-x-hidden scroll-smooth bg-neutral-100 font-sans text-neutral-800 dark:bg-neutral-900 dark:text-neutral-300"
>
  <head>
    <Seo {...seo} />
  </head>
  <body
    class="mx-auto min-h-screen rounded-lg bg-white font-sans shadow-lg md:min-h-[90dvh] md:max-w-3xl dark:bg-neutral-900 dark:shadow-lg/100"
  >
    <AppHeader />
    <AppMain>
      <slot />
    </AppMain>
    <AppFooter />
  </body>
</html>
