{{ define "main" }}
{{ partial "hero.html" . }}
<article class="content content--featured">
    <h2 class="title title--h2">What I've learned</h2>
    <div class="grid grid--col-2">
        {{ range .Params.skills }}
            <div class="card">

                <div class="card__body">
                    {{ partial "icons.html" (dict "icon" .icon "width" "45" "height" "45") }}
                    <strong class="text-w-400 text-3xl">{{ .name }}</strong>

                    <p class="skill__content">{{ .description }}</p>
                </div>
                
            </div>
        {{ end }}
    </div>
</article>
{{ end }}
