{{ define "main" }}
  {{ $pages := site.RegularPages }}
  {{ $paginator := .Paginate ($pages.ByDate.Reverse) 100 }}

  {{ if eq $paginator.PageNumber 1 }}
    <section class="markdown">
      <h1>{{ .Title }}</h1>
      {{ .Content | safeHTML }}
    </section>
  {{ else }}
    <h1>Page Number: ({{ $paginator.PageNumber }})</h1>
  {{ end }}

  <section class="markdown">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {{ range $paginator.Pages }}
            <tr>
              <td data-label="Title">
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
              </td>
              <td data-label="Date">{{ .Lastmod.Format "2006/01/02" }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </section>

  {{- partial "pagination.html" (dict "page" . "format" "default") }}
{{ end }}